Zadanie 1 (5 pkt)


Wgraj zawartość pliku orders.csv do ramki danych.
Przyjrzyj się danym, wykorzystując poznane metody (describe, info, head) zanalizuj dane.

Następnie:



1. Zamień order_date na format daty. Upewnij się, że w rezultacie data będzie w formacie: rok-miesiąc-dzień;
2. Sprawdź ile i jakie unikalne wartości znajdują się w kolumnie T-shirt category;
3. Wyczyść kolumnę tshirt_category normalizując nazwy produktów. Upewnij się, że dla każdej kategorii funkcjonuje jedna nazwa, np. zamiast white i wh jest tylko jedna wersja white. Skorzystaj z klasy string i metody apply;
4. Rozdziel kolumnę tshirt category na 3 kolumny: tshirt_type, która będzie mówiła o tym czy jest to koszulka, bluza czy coś innego, tshirt_size, która będzie informowała o rozmiarze koszulki, i tshirt_colour, która będzie informowała o kolorze. Skorzystaj z metody apply.
5. Znajdź zamówienia złożone między 31 grudnia 2014 a 2 sierpnia 2016.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np

df1 = pd.read_csv('/content/drive/MyDrive/PAD/PAD_04/orders.csv')
df1

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity
0,2016/09/04,9,HTS-038040-0002,038040,White T-Shirt M,20.0,1
1,2014/11/14,11,HTS-801797-0001,801797,White T-Shirt M,20.0,1
2,2017/02/26,10,HTS-vft1eu-0003,vft1eu,White T-Shirt F,18.0,3
3,2013/12/01,10,HTS-914324-0001,914324,Wh Tshirt F,18.0,1
4,2015/10/22,12,HTS-88ua9r-0001,88ua9r,White T-Shirt M,20.0,1
...,...,...,...,...,...,...,...
26547,2016/11/19,13,HTS-n641x4-0001,n641x4,White T-Shirt M,20.0,1
26548,2016/08/02,4,HTS-q0nm12-0001,q0nm12,White T-Shirt M,20.0,1
26549,2017/03/09,6,HTS-sby0iz-0001,sby0iz,White T-Shirt M,20.0,1
26550,2016/10/04,11,HTS-uz70x4-0001,uz70x4,Hoodie,23.0,5
26551,2016/12/16,9,HTS-xnbc22-0001,xnbc22,Black T-Shirt M,19.0,3

In [3]:
#1
df1['order_date'] = pd.to_datetime(df1['order_date'])
df1

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity
0,2016-09-04,9,HTS-038040-0002,038040,White T-Shirt M,20.0,1
1,2014-11-14,11,HTS-801797-0001,801797,White T-Shirt M,20.0,1
2,2017-02-26,10,HTS-vft1eu-0003,vft1eu,White T-Shirt F,18.0,3
3,2013-12-01,10,HTS-914324-0001,914324,Wh Tshirt F,18.0,1
4,2015-10-22,12,HTS-88ua9r-0001,88ua9r,White T-Shirt M,20.0,1
...,...,...,...,...,...,...,...
26547,2016-11-19,13,HTS-n641x4-0001,n641x4,White T-Shirt M,20.0,1
26548,2016-08-02,4,HTS-q0nm12-0001,q0nm12,White T-Shirt M,20.0,1
26549,2017-03-09,6,HTS-sby0iz-0001,sby0iz,White T-Shirt M,20.0,1
26550,2016-10-04,11,HTS-uz70x4-0001,uz70x4,Hoodie,23.0,5
26551,2016-12-16,9,HTS-xnbc22-0001,xnbc22,Black T-Shirt M,19.0,3

In [4]:
#2
print("Liczba unikalnych wartości tshirt_category:", df1['tshirt_category'].nunique())
print("Unikalne wartości tshirt_category:", df1['tshirt_category'].unique())

Liczba unikalnych wartości tshirt_category: 10
Unikalne wartości tshirt_category: ['White T-Shirt M' 'White T-Shirt F' 'Wh Tshirt F' 'Black T-Shirt F'
 'Hoodie' 'Black T-Shirt M' 'Tennis Shirt' 'Wh Tshirt M' 'Bl Tshirt F'
 'Bl Tshirt M']

In [5]:
#3
#df1['tshirt_category'].replace({"Wh Tshirt M": "White T-Shirt M", "Wh Tshirt F": "White T-Shirt F", "Bl Tshirt M": "Black T-Shirt M", "Bl Tshirt F": "Black T-Shirt F", "Blac": "Black"}, inplace=True)
#df1

slownik = {"Wh Tshirt M": "White T-Shirt M", "Wh Tshirt F": "White T-Shirt F", "Bl Tshirt M": "Black T-Shirt M", "Bl Tshirt F": "Black T-Shirt F", "Blac": "Black"}

df1['tshirt_category'] = df1['tshirt_category'].apply(lambda x: x.replace(x, slownik[x]) if (x in slownik) else x)
df1

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity
0,2016-09-04,9,HTS-038040-0002,038040,White T-Shirt M,20.0,1
1,2014-11-14,11,HTS-801797-0001,801797,White T-Shirt M,20.0,1
2,2017-02-26,10,HTS-vft1eu-0003,vft1eu,White T-Shirt F,18.0,3
3,2013-12-01,10,HTS-914324-0001,914324,White T-Shirt F,18.0,1
4,2015-10-22,12,HTS-88ua9r-0001,88ua9r,White T-Shirt M,20.0,1
...,...,...,...,...,...,...,...
26547,2016-11-19,13,HTS-n641x4-0001,n641x4,White T-Shirt M,20.0,1
26548,2016-08-02,4,HTS-q0nm12-0001,q0nm12,White T-Shirt M,20.0,1
26549,2017-03-09,6,HTS-sby0iz-0001,sby0iz,White T-Shirt M,20.0,1
26550,2016-10-04,11,HTS-uz70x4-0001,uz70x4,Hoodie,23.0,5
26551,2016-12-16,9,HTS-xnbc22-0001,xnbc22,Black T-Shirt M,19.0,3

In [6]:
#4

#df1['tshirt_colour'] = df1['tshirt_category'].apply(lambda x: x.split()[0] if x.split()[0] in ["Black", "White"] else "NaN")
#df1['tshirt_size'] = df1['tshirt_category'].apply(lambda x: x.split()[-1] if x.split()[-1] in ["M", "F"] else "NaN")

#def my_func(x, column_name):
#  possibilities = {"tshirt_colour": ["Black", "White"], "tshirt_size": ["M", "F"], "tshirt_type": ["T-Shirt", "Shirt", "Hoodie"]}



# Niestety na tym poległem :(

In [7]:
#5
mask = (df1['order_date'] > '2014-12-31') & (df1['order_date'] <= '2016-08-02')
df1.loc[mask]

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity
4,2015-10-22,12,HTS-88ua9r-0001,88ua9r,White T-Shirt M,20.0,1
5,2016-01-15,9,HTS-061311-0003,061311,Black T-Shirt F,17.5,4
12,2015-11-24,15,HTS-je57lh-0001,je57lh,Hoodie,23.0,3
13,2015-10-10,8,HTS-252675-0002,252675,White T-Shirt M,20.0,3
15,2015-11-29,15,HTS-heb26i-0001,heb26i,Black T-Shirt F,17.5,1
...,...,...,...,...,...,...,...
26496,2016-06-02,2,HTS-5b4bg6-0001,5b4bg6,Black T-Shirt F,17.5,1
26513,2016-07-05,12,HTS-bt08zd-0001,bt08zd,White T-Shirt F,18.0,1
26515,2016-07-27,17,HTS-gsc3f6-0001,gsc3f6,Hoodie,23.0,1
26540,2016-06-08,7,HTS-6ba0i0-0001,6ba0i0,White T-Shirt M,20.0,4
26548,2016-08-02,4,HTS-q0nm12-0001,q0nm12,White T-Shirt M,20.0,1

Zadanie 2 (4 pkt)


Wgraj plik customers.csv do ramki danych. 

Następnie:
1. Wypisz kolumny;
2. Porównaj rozmiar ramki z rozmiarem ramki w zadaniu 1;
3. Zmień nazwę kolumny customerID  na customer_id upewniając się, że dane zmiana zostanie zapisana w pamięci dzięki jednemu z argumentów metody do zmiany nazwy kolumny;
4. Połącz ramkę orders z ramką customers po kolumnie customer_id. Z której metody skorzystasz? Zostaw odpowiedź w komentarzu do zadania w kodzie (np. blok komentarzem ‘’’ ‘’’).

In [8]:
#shape (rozmiar ramki)

df2 = pd.read_csv('/content/drive/MyDrive/PAD/PAD_04/customers.csv')
df2

,customerID,gender,birthdate,user_agent,ip_address,campaign
0,886900,M,1953/10/5,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,69.8.136.110,False
1,038040,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
2,698696,F,1983/12/1,Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...,95.135.70.206,False
3,sn9keh,M,1990/9/23,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6...,129.50.205.26,False
4,496907,M,1869/6/8,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,81.98.234.29,False
...,...,...,...,...,...,...
18761,m1yyx6,M,1999/8/19,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,95.142.4.155,True
18762,744375,F,1941/10/22,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,119.219.176.225,False
18763,t6pxeo,F,1950/5/10,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,196.178.254.85,False
18764,930049,F,1979/10/22,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,118.173.208.45,False
18765,950728,M,1997/9/18,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,171.178.68.155,False

In [9]:
#1
df2.columns

Index(['customerID', 'gender', 'birthdate', 'user_agent', 'ip_address',
       'campaign'],
      dtype='object')

In [10]:
#2
print("Rozmiar ramki orders:   ", df1.shape)
print("Rozmiar ramki customers:", df2.shape)

Rozmiar ramki orders:    (26552, 7)
Rozmiar ramki customers: (18766, 6)

In [11]:
#3
df2.rename(columns = {'customerID':'customer_id'}, inplace = True)
df2

,customer_id,gender,birthdate,user_agent,ip_address,campaign
0,886900,M,1953/10/5,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,69.8.136.110,False
1,038040,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
2,698696,F,1983/12/1,Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...,95.135.70.206,False
3,sn9keh,M,1990/9/23,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6...,129.50.205.26,False
4,496907,M,1869/6/8,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,81.98.234.29,False
...,...,...,...,...,...,...
18761,m1yyx6,M,1999/8/19,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,95.142.4.155,True
18762,744375,F,1941/10/22,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,119.219.176.225,False
18763,t6pxeo,F,1950/5/10,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,196.178.254.85,False
18764,930049,F,1979/10/22,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,118.173.208.45,False
18765,950728,M,1997/9/18,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,171.178.68.155,False

In [12]:
#4
df3 = df1.merge(df2, on="customer_id")
df3

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity,gender,birthdate,user_agent,ip_address,campaign
0,2016-09-04,9,HTS-038040-0002,038040,White T-Shirt M,20.0,1,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
1,2014-06-04,13,HTS-038040-0001,038040,White T-Shirt F,18.0,1,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
2,2014-11-14,11,HTS-801797-0001,801797,White T-Shirt M,20.0,1,M,1956/7/19,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,137.155.219.158,False
3,2015-10-22,12,HTS-801797-0002,801797,White T-Shirt M,20.0,2,M,1956/7/19,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,137.155.219.158,False
4,2017-02-26,10,HTS-vft1eu-0003,vft1eu,White T-Shirt F,18.0,3,F,1969/6/27,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,53.115.6.106,True
...,...,...,...,...,...,...,...,...,...,...,...,...
25877,2016-11-02,11,HTS-762534-0001,762534,Hoodie,23.0,1,M,1963/8/24,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,58.3.164.178,True
25878,2016-11-16,4,HTS-hrpv38-0001,hrpv38,White T-Shirt M,20.0,3,F,1951/8/15,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,118.210.235.250,True
25879,2014-07-12,16,HTS-978569-0001,978569,Hoodie,23.0,1,M,1986/11/19,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,112.172.97.50,False
25880,2016-08-05,11,HTS-k0batl-0001,k0batl,White T-Shirt M,20.0,2,M,1959/2/6,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,174.226.65.20,False
25881,2017-03-13,11,HTS-200121-0001,200121,Tennis Shirt,24.0,1,F,1969/8/22,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,56.182.53.24,False

Zadanie 3 (1 pkt)

Nową ramkę (połączenie orders i customers) zapisz do pliku csv, ale zapisz bez kolumny z indeksem.

In [13]:
df3.to_csv('/content/drive/MyDrive/PAD/PAD_04/df3.csv', index=False)